* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-image: url('../images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30%;
    padding: 3em 3em 0 3em;
    border-radius: 1rem;
    background-color: white;
}

#section-principal {
    margin-top: 20px;
    line-height: 25px;
}

img {
    margin-top: 40px;
    border: solid white 5px;
    border-radius: 50%;
}

h1 {
    font-size: 18px;
    font-weight: 700;
    display: inline;
    opacity: 0.85;
}

.texto-secundario {
    font-size: 18px;
    font-weight: 400;
    color: hsl(227, 10%, 46%)
}

#section-principal p {
    font-size: 14px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 1px;
}

hr {
    opacity: 0.5;
    margin-top: 25px;
    padding: 0;
    width: 142%;
}

#section-secundario {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}

div{
    margin: 20px;
}

h3 {
    opacity: 0.85;
}

div p {
    font-size: 10px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

footer {
    width: 70%;
    margin-top: 100px;
    text-align: center;
    color: white;
    opacity: 0.85;
}

a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
}

a:hover {
    text-decoration:underline;
}







