* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: hsl(0, 0%, 95%);
}

header {
    text-align: center;
    margin: 4rem 2rem 0;
}

#principal {
    color: hsl(210, 5%, 31%);
    font-size: 24px;
}

h1 {
    font-size: 25px;
}

#secundario {
    color: hsl(229, 6%, 66%);
    font-size: 15px;
    margin-top: 1rem;
}

#contenedor-cajas {
    display: grid;
}

.cajas {
    display: grid;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    width: 75vw;
    justify-self: center;
    box-shadow: 0 1rem 1rem -1rem black;
}

h3 {
    font-size: 20px;
}

.cajas p {
    margin-top: 0.5rem;
    color: hsl(229, 6%, 66%);
}

.cajas img {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    justify-self: flex-end;
}

#supervisor {
    margin-top: 5rem;
    border-top: 3px solid hsl(180, 62%, 55%);
}

#builder {
    margin-top: 2rem;
    border-top: 3px solid hsl(0, 78%, 62%);
}

#karma {
    margin-top: 2rem;
    border-top: 3px solid hsl(34, 97%, 64%);
}

#calculator {
    margin-top: 2rem;
    border-top: 3px solid hsl(212, 86%, 64%);
}

footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer a {
    padding: 0;
    text-decoration: none;
    margin: 0;
    transition: all 1s;
    color: hsl(300, 43%, 22%);
}

footer p {
    margin: 0;
    color: black;
    text-align: center;
}

footer a:hover {
    text-decoration:underline;
    display: inline-block;
    transform: translateX(10px);
}

@media (min-width: 1300px) {

    header {
        margin-top: 2rem;
    }

    #principal {
        font-size: 31px;
    }

    h1 {
        font-size: 32px;
    }
    #secundario {
        width: 32%;
        margin-left: 34%;
        font-size: 14px;
    }

    #contenedor-cajas {
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .cajas {
        width: 20vw;
    }

    h3 {
        font-size: 18px
    }

    .cajas p {
        font-size: 14px;
    }

    #supervisor {
        justify-self: flex-end;
        grid-row-start: 1;
        grid-row-end: 3;
        align-self: center;
    }

    #builder {
        margin-left: 1.5rem;
    }

    #karma {
        grid-column-start: 2;
        grid-column-end: 3;
        margin-left: 1.5rem;
    }

    #calculator {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;
        align-self: center;
        justify-self: flex-start;
        margin-left: 1.5rem;
        margin-top: 5rem;

    }

    footer {
        font-size: 14px;
    }
}
