* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
    margin-top: 4rem;
}

#NFT {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

h1 {
    color: white;
    font-size: 22px;
    margin-bottom: 16px;
}

.texto-diferenciado {
    color: hsl(215, 51%, 70%);
    line-height: 1.5rem;
}

#oferta {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}

#Ethereum {
    display: inline;
    width: 0.7rem;
    margin: 3px 6px 0px 0px;
    position: relative;
    top: 5px;
}

#valor {
    color: hsl(178, 100%, 50%);
    margin: 0;
}

#Reloj {
    display: inline;
    width: 1rem;
    position: relative;
    top: 2px;
    margin-right: 3px;
}

#tiempo {
    margin: 0;
    color: hsl(215, 51%, 70%);
}

hr {
    width: 100%;
    margin-top: 16px;
    opacity: 0.2;
}

#nombre {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
}

#avatar {
    width: 2rem;
    border-radius: 50%;
    border: solid 1px white;
    margin-right: 15px;
}

#creacion {
    color: hsl(215, 51%, 70%);
}

#firma {
    color: white;
    margin-left: 5px;
}

footer {
    width: 70%;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: hsl(215, 51%, 70%);
    letter-spacing: 1px;
    transition: all 1s;
}

/*Para que la animación funcione, le agregue inline-block ya que en elementos en linea no funciona*/
a:hover {
    text-decoration:underline;
    display: inline-block;
    transform: translateX(10px);
}

@media (min-width: 1300px) {
    main {
        width: 17%;
        margin-top: 2rem;
    }

    h1 {
        font-size: 20px;
    }

    .texto-diferenciado {
        font-size: 14px;
    }

    #numero:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }

    #firma:hover {
        color: hsl(178, 100%, 50%);
        cursor: pointer;
    }

}